# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/assets/img/Gallery/1.jpg
src/assets/img/Gallery/2.jpg
vite.config.js
src/pages/Services/AntiWrinkle.jsx
src/App.jsx
package.json
package-lock.json
